<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>THE BEST FORUM ON EARTH!!!</title>

  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <script>
    var socket = io();
    socket.on('usercnt', function (msg) {
      console.log(msg)
      document.getElementById('count').innerHTML = msg;
    })
    socket.on('sendmsg', function (msg) {
      document.getElementById('messages').innerHTML += msg + "<br>";
    })
    function sendmsg() {
      socket.emit('sendmsg', document.getElementById('message').value);
    }
  </script>
</head>

<body>
  <main class="content">
    <header class="display-flex justify-space-between align-center p-2">
      <button class="coolbutton"> Home </button>
      <button> Register </button>
      <button> Threads </button>
    </header>

    {{#if logged_OUT}}
      
    {{/if}}

    <section class="chatbox">
      {{#if logged_IN}}
      <p>Hello Capybaras</p>
      <br>
      <span id="count">0</span> Capybara's Online
      <br>
      <input type='text' id='message'>
      <button onclick='sendmsg()'>Send Message</button>
      <div id="messages">
      {{/if}}
      </div>
    </section>



    <content class="container container-fluid mt-5">
      {{{ body }}}
    </content>

    <footer>

    </footer>

  </main>

</body>

</html>