<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>THE BEST FORUM ON EARTH!!!</title>

  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <script>
    var socket = io();
    socket.on('usercnt', function (msg) {
      console.log(msg)
      document.getElementById('count').innerHTML = msg;
    })
    socket.on('sendmsg', function (msg) {
      document.getElementById('messages').innerHTML += msg + "<br>";
    })
    function sendmsg() {
      socket.emit('sendmsg', document.getElementById('message').value);
    }
  </script>
</head>

<body>
  <main class="content">
    <div class="navbar">
      <header class="display-flex justify-space-between align-center p-2">
        {{!-- {{#if logged_in}} --}}
        <h1>Capybara Convos</h1>
        <a class="coolbutton" href="/"> Home</a>
        <button class="coolbutton" id="logout">Logout</button>
        {{!-- {{/if}} --}}
      </header>
      <header class="display-flex justify-space-between align-center p-2">
      </header>
    </div>

{{!-- <h2>Login</h2>

<form class="form login-form">
  <div class="form-group">
    <label for="email-login">email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">login</button>
  </div>
</form>

<script src="/js/login.js"></script> --}}


    <section class="chatbox">
      <h4>🗣️💬</h4>
      <span id="count">0</span> capybaras online
      <div class="messagebox">
        ...
        <div id="messages">
        </div>
      </div>
      <input class="socketinput" type='text' id='message'>
      <button class="socketbutton" onclick='sendmsg()'>Send Message</button>
    </section>

    <content class="container container-fluid mt-5">
      {{{ body }}}
    </content>

    {{!-- <footer>

    </footer> --}}

  </main>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>